<p-confirmDialog></p-confirmDialog>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="searchTerm" (input)="onSearch()" [placeholder]="'search' | translate" />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="categories"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    (onLazyLoad)="loadCategories($event)"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'showingEntries' | translate"
    [globalFilterFields]="['name', 'description']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 200px" pSortableColumn="name">
          {{ 'category name' | translate }}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="min-width: 300px" pSortableColumn="description">
          {{ 'category description' | translate }}
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th style="min-width: 150px">{{ 'action' | translate }}</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="description" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.name }}</td>
        <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" [title]="category.description">
          {{ category.description }}
        </td>

        <td>
          <div class="flex gap-1 justify-content-center">
            <p-button
              [raised]="true"
              icon="pi pi-pencil"
              severity="success"
              [rounded]="true"
              (onClick)="handleEdit(category.name, category.description, category.id, category.imageUrl)"
              pTooltip="{{ 'edit' | translate }}"
              tooltipPosition="top"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              (onClick)="handleDelete(category.id)"
              pTooltip="{{ 'delete' | translate }}"
              tooltipPosition="top"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">
          <div class="flex flex-column justify-content-center align-items-center py-5 w-full">
            <i class="pi pi-search" style="font-size: 3rem; color: var(--gray-400)"></i>
            <span class="mt-2 text-gray-500 font-medium">{{ 'No Data found' | translate }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
