// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #2DB9BE,
    primary-dark: #2DB9BE,
    secondary: #21345c,
    secondary-dark: #21345c
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
