<p-confirmDialog></p-confirmDialog>
<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" [placeholder]="'search' | translate" />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="coupons"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    [totalRecords]="totalRecords"
    [loading]="isLoading"
    [lazy]="true"
    (onLazyLoad)="loadCoupons($event)"
    [responsiveLayout]="'scroll'"
    dataKey="id"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'showingEntries' | translate"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Code">
          {{ 'coupon name' | translate }}
          <p-sortIcon field="Code"></p-sortIcon>
        </th>
        <th pSortableColumn="DiscountAmount">
          {{ 'discount Amount' | translate }}
          <p-sortIcon field="DiscountAmount"></p-sortIcon>
        </th>
        <th pSortableColumn="UsageNumber">
          {{ 'users count' | translate }}
          <p-sortIcon field="UsageNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="StartDate">
          {{ 'start Date' | translate }}
          <p-sortIcon field="StartDate"></p-sortIcon>
        </th>
        <th pSortableColumn="EndDate">
          {{ 'end Date' | translate }}
          <p-sortIcon field="EndDate"></p-sortIcon>
        </th>
        <th pSortableColumn="UserLimit">
          {{ 'limit of usage' | translate }}
          <p-sortIcon field="UserLimit"></p-sortIcon>
        </th>
        <th>{{ 'actions' | translate }}</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="Code" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="DiscountAmount" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="UsageNumber" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="StartDate" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="EndDate" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="UserLimit" display="row" [showMenu]="false"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coupon>
      <tr class="coupon-row" [class.coupon-row--special]="coupon.discountType === 3 || coupon.isRecoveryOffer || coupon.userId">
        <!-- Coupon Code + Badges -->
        <td>
          <div class="coupon-code-cell">
            <div class="coupon-code-name">
              <i class="pi pi-ticket coupon-code-icon"></i>
              <span class="coupon-code-text">{{ coupon.code }}</span>
            </div>
            <div class="coupon-tags" *ngIf="coupon.isRecoveryOffer || coupon.userId || coupon.discountType === 3">
              <span class="mini-tag mini-tag--bogo" *ngIf="coupon.discountType === 3"
                    [pTooltip]="('Buy' | translate) + ' ' + coupon.buyQuantity + ' → ' + ('Get' | translate) + ' ' + coupon.getQuantity + ' ' + ('Free!' | translate)"
                    tooltipPosition="top">
                <i class="pi pi-shopping-cart"></i> BOGO
              </span>
              <span class="mini-tag mini-tag--recovery" *ngIf="coupon.isRecoveryOffer"
                    [pTooltip]="('Recovery Discount' | translate) + ': ' + coupon.recoveryDiscountPercentage + '%'"
                    tooltipPosition="top">
                <i class="pi pi-refresh"></i> {{ 'Recovery Offer' | translate }}
              </span>
              <span class="mini-tag mini-tag--targeted" *ngIf="coupon.userId"
                    [pTooltip]="'Targeted User' | translate"
                    tooltipPosition="top">
                <i class="pi pi-user"></i> {{ 'Targeted' | translate }}
              </span>
            </div>
          </div>
        </td>
        <!-- Discount -->
        <td>
          <div class="discount-cell">
            <span class="discount-value" [ngClass]="{
              'discount-value--bogo': coupon.discountType === 3,
              'discount-value--percent': coupon.discountType === 2,
              'discount-value--fixed': coupon.discountType === 1
            }">
              {{ getDiscountLabel(coupon) }}
            </span>
          </div>
        </td>
        <td>
          <span class="usage-badge">
            <i class="pi pi-users"></i> {{ coupon.usageNumber }}
          </span>
        </td>
        <td>{{ coupon.startDate | date: 'mediumDate' }}</td>
        <td>{{ coupon.endDate | date: 'mediumDate' }}</td>
        <td>{{ returnValueOFuserLimit(coupon.userLimit) }}</td>
        <td>
          <div class="flex gap-1">
            <p-button
              icon="pi pi-eye"
              [rounded]="true"
              (click)="openCouponDetails(coupon.id)"
              pTooltip="View Details"
              tooltipPosition="top"
              severity="info"
            ></p-button>
            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="deleteCoupon(coupon.id)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <!-- Empty Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">
          <div class="flex flex-column align-items-center justify-content-center py-5">
            <i class="pi pi-inbox text-500 text-5xl mb-3"></i>
            <span class="text-700 font-medium text-lg">{{ 'No Data found' | translate }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
