<!-- [ Sidebar Menu ] start -->
<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <!-- [ Header Topbar ] start -->
      <a [routerLink]="['/default/']" class="b-brand w-100 text-center">
        <!-- ========   change your logo hear   ============ -->
        <img src="../../../../../assets/images/logo_color.png" width="80px" class="logo logo-lg" />
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div"></app-nav-content>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
