.input-custom-height {
  min-height: 2.5rem;
}

.bg-light-status {
  background: var(--surface-ground);
}

.h-custom-status {
  min-height: 2.5rem;
}

.bg-uploader-box {
  background: var(--surface-ground);
}